<html>
<head>
    <title>All Movies</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!-- AJAX GOOGLE CDN Library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!--Google Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/static/design.css" rel="stylesheet">
</head>
<body class="grey darken-4">
        <!--Navbar-->
        <nav>
          <div class="nav-wrapper">
            <a href="/" class="brand-logo" style="margin-left: 20px;">Movies Library</a>
            <a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                    <li class="active"><a href="/">All Movies</a></li>
                    <li><a href="/categories">Categories</a></li>
            </ul>
          </div>
        </nav>

        <ul class="sidenav" id="mobile-nav">
          <li class="active"><a href="/">All Movies</a></li>
          <li><a href="/categories">Categories</a></li>
        </ul>

  <!-- Modal Trigger -->
  <div class="row center">
  <a id="add-btn" class="btn-large btn-floating waves-effect waves-light btn modal-trigger orange darken-3" href="#addModal" style="margin-top: 5vh;"><i class="material-icons">add</i></a>
  </div>

  <!--Add modal-->
  <div id="addModal" class="modal">
    <div class="modal-content">
      <h4 class="center">Add a new movie</h4>
      <div class="row">
        <form class="col m10 s12" action="/add" method="post" enctype="multipart/form-data">
          <div class="row">
            <div class="input-field m6 s10 offset-s1">
                <input placeholder="Title" id="title" type="text" class="validate" name="title" required>
                <label for="title">Title</label>
            </div>
          </div>

          <div class="row">
              <div class="input-field m6 s10 offset-s1">
                  <input placeholder="Year of production" id="year" type="text" name="year" class="validate" required>
                  <label for="year">Year</label>
              </div>
            </div>

            <div class="row">
                <div class="input-field m6 s10 offset-s1">
                    <input placeholder="Director" id="director" type="text"  name="director" class="validate" required>
                    <label for="director">Director</label>
                </div>
            </div>

              <div class="row">
                  <div class="input-field m6 s10 offset-s1">
                      <input placeholder="Country" id="country" type="text" name="country" class="validate" required>
                      <label for="country">Country</label>
                  </div>
              </div>

              <div class="row">
                <div class="input-field m6 s10 offset-s1">
                    <select name="genres" multiple>
                      <option value="" disabled>Choose genres</option>
                      <%genres.forEach((item) => { %>
                      <option value="<%=item.id%>"><%=item.genre_name%></option>
                      <% }); %>
                     
                    </select>
                    <label>Genre</label>
                </div>
              </div>

              <div class="row">
                  <div class="input-field m6 s10 offset-s1">
                    <textarea placeholder="Description" id="description" name="description" class="materialize-textarea"></textarea>
                    <label for="description">Description</label>
                    </div>
              </div>

              <div class="row">
                  <label>Add movie cover</label>
                  <div class = "file-field input-field">
                    <div class = "btn">
                     <span>Browse</span>
                     <input name="cover" type = "file" />
                    </div>
                  
                    <div class = "file-path-wrapper">
                     <input class = "file-path validate" type = "text"
                        placeholder = "Upload file">
                    </div>
                </div>
              </div>

              <div class="row center" style="margin-top: 25px;">
                  <div class="input-field m8 s10 offset-s1">
                      <button class="btn btn-large waves-effect waves-light" type="submit">Add
                          <i class="material-icons right">add</i>
                      </button>
                  </div>
              </div>
        </form>
      </div>
    </div>
  </div>

<!--Modify modal-->
  <div id="modifyModal" class="modal">
    <div class="modal-content">
      <h4 class="center">Modify content</h4>
      <div class="row">
        <form class="m10 s12" action="/modifyMovie" method="post">
          <div class="row">
            <div class="input-field m6 s10 offset-s1">
                <input placeholder="Title" id="titleModif" type="text" class="validate" name="mTitle" required>
                <label for="title">Title</label>
            </div>
          </div>

          <input id="movieId" type="hidden" class="validate" name="id">

          <div class="row">
              <div class="input-field m6 s10 offset-s1">
                  <input placeholder="Year of production" id="yearModif" type="text" name="mYear" class="validate" required>
                  <label for="year">Year</label>
              </div>
            </div>

            <div class="row">
                <div class="input-field m6 s10 offset-s1">
                    <input placeholder="Director" id="directorModif" type="text"  name="mDirector" class="validate" required>
                    <label for="director">Director</label>
                </div>
            </div>

              <div class="row">
                  <div class="input-field m6 s10 offset-s1">
                      <input placeholder="Country" id="countryModif" type="text" name="mCountry" class="validate" required>
                      <label for="country">Country</label>
                  </div>
              </div>

              <div class="row">
                <div class="input-field m6 s10 offset-s1" id="genreModif">
                    <select id="genreSelect" name="mGenres" multiple>
                      <option value="" disabled>Choose genres</option>
                      <%genres.forEach((item) => { %>
                      <option id="option-<%=item.id%>" value="<%=item.id%>"><%=item.genre_name%></option>
                      <% }); %>
                     
                    </select>
                    <label>Genre</label>
                </div>
              </div>

              <div class="row">
                  <div class="input-field m6 s10 offset-s1">
                    <textarea placeholder="Description" id="descriptionModif" name="mDescription" class="materialize-textarea"></textarea>
                    <label for="description">Description</label>
                    </div>
              </div>

              <div class="row center" style="margin-top: 25px;">
                  <div class="input-field m8 s10 offset-s1">
                      <button class="btn btn-large waves-effect waves-light" type="submit">Modify</button>
                  </div>
              </div>
        </form>
      </div>
    </div>
  </div>

  <div class="row" style="margin-top: 5vh;">
    <% i = 1; %>
    <%data.forEach(function(item) { %>
    <div class="col s12 m6 l4" style="margin-top: 0.5vh;">
      <div class="card">
        <div class="card-image">
          <img class="movie-poster" src="/static/img/<%=item.imgHash%>">
          <span class="card-title"><p><%=i%>. <%=item.title%></p></span>
          <a href="#modifyModal" class="modify-btn btn-floating halfway-fab waves-effect waves-light orange darken-3 modal-trigger" id="card-edit-<%=item.id%>"><i class="material-icons">edit</i></a>
        </div>
        <div class="card-content">
          <blockquote id="descriptionRow"><%=item.description%></blockquote>
          <p id="movie-id-<%=item.id%>" hidden><%=item.id%></p>
          <p class="modify-helper" hidden><%=item.id%></p>
          <p class="movie-card-titles" id="year-<%=item.id%>">Year: <span class="movie-card-values"><%=item.year%></span></p>
          <p class="movie-card-titles" id="country-<%=item.id%>">Country: <span class="movie-card-values"><%=item.country%></span></p>
          <p class="movie-card-titles" id="director-<%=item.id%>">Director: <span class="movie-card-values"><%=item.director%></span></p>
          <p class="movie-card-titles" id="genre-<%=item.id%>">Genre: <span class="movie-card-values"><%=item.genre%></span></p>
        </div>
      </div>
    </div>
    <% i++; %>
    <% }); %>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

  <!--Modify button script -->

  <script>
    $('.modify-btn').click((event) => {
      let titleWithId = $(event.target).closest('a').closest('div').find('.card-title p').text();
      // Cuts the id in titleWithId
      let titleFinal = titleWithId.substr(3, titleWithId.length);

      let dataSelector = $(event.target).closest('a').closest('div').closest('.col').find('.card-content');
      let dataIdIterator = dataSelector.find('.modify-helper').text();
  
      let year = dataSelector.find('#year-' + dataIdIterator).find('.movie-card-values').text();
      let country = dataSelector.find('#country-' + dataIdIterator).find('.movie-card-values').text();
      let director = dataSelector.find('#director-' + dataIdIterator).find('.movie-card-values').text();
      let description = dataSelector.find('#descriptionRow').text();
      let genres = dataSelector.find('#genre-' + dataIdIterator).find('.movie-card-values').text();
      let genresArr = genres.split(',');


      // Modal fields
      var modalIterator = $('#modifyModal');
      var titleInput = modalIterator.find('#titleModif').val(titleFinal).trigger('change');
      var yearInput = modalIterator.find('#yearModif').val(year).trigger('change');
      var countryInput = modalIterator.find('#countryModif').val(country).trigger('change');
      var directorInput = modalIterator.find('#directorModif').val(director).trigger('change');
      var descriptionInput = modalIterator.find('#descriptionModif').val(description).trigger('change');
      // Genres parent in modal
      let genreSelector = modalIterator.find('#genreModif').find('#genreSelect');
      var genreOption = genreSelector.find('option');

      // Set movie id in Modify Modal

      let id = dataSelector.find('#movie-id-' + dataIdIterator).text();
      
      $('#modifyModal').find('#movieId').val(id);
      
      for(var i = 1; i < genreOption.length; i++){
        // If value is found, option is selected
        if(genresArr.indexOf(genreOption[i].innerHTML) != -1){
          genreOption[i].toggleAttribute('selected', true);
        }
      }
    });
  </script>

  <script>
     $(document).ready(function(){
        $('#addModal').modal();
        $('#modifyModal').modal({
          onCloseEnd: function(){
            var genreOptions = $('#modifyModal').find('#genreSelect').find('option');
            for(var i = 1; i < genreOptions.length; i++){
              genreOptions[i].toggleAttribute('selected', false);
            }
          }
        });
        $('#mobile-nav').sidenav();
        $('select').formSelect();
     });
  </script>
</body>
</html>